      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    </main>
      </body>
      <footer class="ui inverted vertical segment">
        <div class="ui footer center aligned container">
          <div class="ui inverted section divider"></div>
            <div>
              <div>&ltCorder|Coding&gt</a>
            </div>
            <div class="ui horizontal inverted small divided link list">
              <a class="item" href="/">Home</a>
              <a class="item" href="/about">About</a>
              <a class="item" href="/portfolio">Portfolio</a>
              <a class="item" href="/blog">Blog</a>
              <a class="item" href="/contact">Contact</a>
            </div>
          </div>
        </div>
      </footer>

</html>
