<!DOCTYPE html>
<html>
    <head>
      <meta name="google-site-verification" content="TDyuOvetW-W6Yalr8NL9u3PoJsuDXRl6C0gUVnWJSDw" />
      <meta name="description" content="">
      <meta name=viewport content="width=device-width, initial-scale=1">
      <meta name="mobile-web-app-capable" content="yes">
      <title>&ltCorder|Coding&gt</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
      <link rel="stylesheet" type="text/css" href="/app.css">
    </head>
    <body class="site">
    	<main class="site-content">
