<div id="nav" class="ui container">
  <div class="ui large inverted green stackable menu">
    <a class="green item" href="/"><span class="black-char">&lt</span>Corder<span class="black-char">|</span>Coding<span class="black-char">&gt</span></a>
    <div class="right stackable menu">
      <a class="ui button green" href="/about">About</a>
      <a class="ui button green" href="/portfolio">Portfolio</a>
      <a class="ui button green" href="/blog">Blog</a>
      <a class="ui button green" href="/contact">Contact</a>
    </div>
  </div>
</div>
