<% include ./partials/header %>

      <div class="ui inverted vertical center aligned segment">
        <% include ./partials/nav %>
        <div class="ui header">
            <h1>About Me</h1>
            <h2>Here you can learn more than you care to know about an internet stranger!</h2>
            <a class="ui huge green button" href="/blog">Check out my blog!<i class="right arrow icon"></i></a>
        </div>
      </div>

      <div id="about-items" class="ui container">
            <div class="ui items">
                  <div class="item">
                        <div class="image">
                              <img class="ui rounded medium image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThhMq1FTAz6uujd5bJUoKe9BZ9JQeJeI2SJdHdo6OebLeoO4mI">
                        </div>
                        <div class="middle aligned content">
                              <h1 class="header">My name is Aaron Corder -</h1>
                              <div class="description">
                                    <p>I am a self-taught developer from Louisville, Ky. As stated on the home page, the idea of 
                                          "self-taught" developer is somewhat of a misnomer. We all learned somewhere and from someone.
                                          While not in a traditional classroom setting, I have learned from many great teachers such as:
                                          <div class="ui bulleted list">
                                                <div class="item">the great staff at FreeCodeCamp</div>
                                                <div class="item">Colt Steele and others on Udemy</div>
                                                <div class="item">David Malan from Harvard's CS50</div>
                                                <div class="item">Various blogs, youtube channels, package/framework documentation</div>
                                          </div>
                                          and many others have devoted their time to help me learn what I have. They have taught me:
                                          <div class="ui bulleted list">
                                          <div class="item">HTML</div>
                                          <div class="item">
                                                <div>CSS</div>
                                                <div class="list">
                                                      <div class="item">Bootstrap</div>
                                                      <div class="item">Semantic-UI</div>
                                                </div>
                                          </div>
                                          <div class="item">
                                                <div>JavaScript</div>
                                                <div class="list">
                                                      <div class="item">Node.js</div>
                                                      <div class="item">Express.js</div>
                                                </div>
                                          </div>
                                          <div class="item">MongoDB</div>
                                          </div>
                                          just to name a few.  As I continue to learn I will try to update this list with new teachers,
                                          skills, resources, and more.</p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
<% include ./partials/footer %>