<% include ./partials/header %>
      <div class="ui inverted vertical center aligned segment">
        <% include ./partials/nav %>
        <div class="ui header">
          <h1>Blog</h1>
          <h2>Welcome to my cluttered mind.</h2>
         </div>
      </div>
      <div class="ui text container">
            
      </div>
    </div>
    

<% include ./partials/footer %>