<% include ./partials/header %>

<div class="ui inverted vertical center aligned segment">
  <% include ./partials/nav %>
  <div class="ui header">
    <h1>Contact Me</h1>
    <h2>Below are the various ways to get in touch with me through different means.</h2>
  </div>
</div>

<div id="contact-items" class="ui container">
  <form class="ui form" action="/contact" method="POST">
    <div class="ui text centered header"><h2>Contact Me Directly</h2></div>
    <div class="field">
      <label>First Name</label>
      <input type="text" name="firstName" placeholder="First Name" required>
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="lastName" placeholder="Last Name" required>
    </div>
    <div class="field">
      <label>Your Email</label>
      <input type="text" name="email" placeholder="Example@Example.com" required>
    </div>
    <div class="field">
      <label>Subject</label>
      <input type="text" name="subject" placeholder="Subject" required>
    </div>
    <div class="field">
      <label>Message</label>
      <textarea name="message" placeholder="Message..." required></textarea>
    </div>
    <button class="ui large green right floated button">Send</button>
  </form>
  <div class="ui header"><h2>Other Methods:</h2></div>
  <div class="ui list">
    <div class="ui stackable grid">
      <div class="six wide column">
        <div class="item">
          <div class="content">
            <i class="large mail icon"></i>
            <a href="mailto:aaron@cordercoding.com" target="_blank">Aaron@CorderCoding.com</a>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <i class="large linkedin icon"></i>
            <a href="https://linkedin.com/in/aaron-corder" target="_blank"> LinkedIn</a>
          </div>
        </div>
      </div>
      <div class="six wide column">
        <div class="item">
          <div class="content">
            <i class="large twitter icon"></i>
            <a href="https://twitter.com/CorderCoding" target="_blank"> Twitter</a>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <i class="large github icon"></i>
            <a href="https://github.com/CorderCoding" target="_blank"> GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
