<% include ./partials/header %>

<div class="ui inverted vertical center aligned segment">
  <% include ./partials/nav %>
  <div class="ui header">
    <h1>Contact Me</h1>
    <h2>Below are the various ways to get in touch with me through different means.</h2>
  </div>
</div>

<div id="about-items" class="ui container">
</div>
<% include ./partials/footer %>
