<% include ./partials/header %>
<div class="ui inverted vertical center aligned segment">
  <% include ./partials/nav %>
  <div class="ui header">
    <h1>Portfolio</h1>
    <h2>This is where I show off what I'm working on.</h2>
    <a class="ui huge green button" href="/about">See More About Me Here
      <i class="right arrow icon"></i></a>
    </div>
  </div>
  <div class="ui link cards">
    <div class="card">
      <a class="image" href="https://ddinv.herokuapp.com/" target="_blank">
        <img src="/ddinv.png">
        <div class="content">
          <div class="header"><i class="code icon"></i>D&D Inventory Tracker
          </div>
          <div class="meta">https://ddinv.herokuapp.com/</div>
          <div class="description">My Dungeons & Dragons Inventory Tracker
            created with MongoDB/ExpressJS/NodeJS. This is just the first app
            in a planned suite of apps
            for both players and DM's. Still in <strong>very</strong> early
            stages.</div></a>
          </div>
        </div>
        <div class="card">
          <a class="image" href="https://codepen.io/agcorder91" target="_blank">
            <img src="/codepen.png">
            <div class="content">
              <div class="header"><i class="codepen icon"></i>CodePen</div>
              <div class="meta">CodePen.io/agcorder91</div>
              <div class="description">My CodePen account containing working
                versions of projects completed for FreeCodeCamp and Udemy.</div></a>
              </div>
            </div>
            <div class="card">
              <a class="image" href="https://github.com/CorderCoding" target="_blank">
                <img src="/github.png">
                <div class="content">
                  <div class="header"><i class="github icon"></i>GitHub</div>
                  <div class="meta">GitHub.io/agcorder91</div>
                  <div class="description">My GitHub account containing working
                    versions of projects completed for FreeCodeCamp, Udemy, as well as
                    my own projects I'm currently working on.</div></a>
                  </div>
                </div>
                <div class="card">
                  <a class="image" href="https://www.freecodecamp.org/cordercoding"
                  target="_blank"><img src="/fcc.png">
                  <div class="content">
                    <div class="header"><i class="code icon"></i>FreeCodeCamp Profile</div>
                    <div class="meta">https://www.freecodecamp.org/cordercoding</div>
                    <div class="description">My FreeCodeCamp profile with solutions to
                      the various problem sets and projects given.</div></a>
                    </div>
                  </div>
                  <div class="card">
                    <a class="image" href="https://www.udemy.com/user/aaron-corder/"
                    target="_blank"><img src="/udemy.png">
                    <div class="content">
                      <div class="header"><i class="code icon"></i>Udemy Profile</div>
                      <div class="meta">https://www.udemy.com/user/aaron-corder/</div>
                      <div class="description">My FreeCodeCamp profile with solutions to
                        the various problem sets and projects given.</div></a>
                      </div>
                    </div>
                  </div>
                </div>


                <% include ./partials/footer %>
