.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

#nav {
  margin-top: 15px;
}

.ui.inverted.segment {
  min-width: 100%;
}

.ui.inverted.segment .ui.header {
  margin-bottom: 50px;
}

h1 {
  font-size: 54px;
}

.green-char {
  color: #21ba45;
}

.black-char {
  color: black;
  font-weight: bold;
}

#landing-items {
  margin: 30px 0;
}

#about-items {
  margin: 50px 0;
}

#log-form {
  max-width: 30%;
  margin: 10% auto 15% auto;
  font-size: 24px;
}

#blog-form {
  max-width: 65%;
  margin: 5% auto;
  font-size: 24px;
}

.ui.link.cards {
  max-width: 60%;
  margin: 0 auto;
}

.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}