<% include ../partials/header %>

<div class="ui inverted vertical center aligned segment">
  <% include ../partials/nav %>
  <div class="ui header">
    <h1>Editing Post</h1>
    <h2>Make changes to your post below.</h2>
  </div>
</div>
<div class="ui container">
  <form id="blog-form" class="ui large form" action="/blog/edit/<%=post.id%>?_method=PUT" method="POST">
    <div class="field">
      <label>Title:</label>
      <input type="text" value="<%= post.title %>" name="post[title]">
    </div>
    <div class="field">
      <label>Body:</label>
      <textarea class="text wrap" name="post[body]" rows="50"><%= post.body %></textarea>
    </div>
    <button class="ui green button">Publish Changes</button>
    <a class="ui button" href="/blog">Cancel</a>
  </form>
</div>
</div>

<% include ../partials/footer %>
